// Page
@import './styles/pages/todo.scss';

// Component
@import './styles/components/todoItem.scss';

#root {
  height: 100vh;
  width: 100vw;
}

.myApp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
